<!-- 
    {{}} Es la interpolación de Angular que 
    muestra los datos del componte en el template
    correspondiente.
-->
<h1> {{ title }} </h1>

<nav>
    <a routerLink="/dashboard">Dashboard</a>
    
    <!--
        +-----------------+
        | NAVIGATION LINK |
        +-----------------+

        El atributo routerLink se establece con 
        "/heroes", la cadena que el ROUTER hace 
        coincide con la ruta de HeroesComponent.

        La directiva RouterLink permite que los
        eventos click del usuario se tornen en
        router navigations (belongs to RouterModule).
    -->
    <a routerLink="/heroes">Heroes</a>
</nav>

<!-- 
    +---------------+
    | ROUTING VIEWS |
    +---------------+

    Esta etiqueta le indica al router en 
    donde mostrar las vistas de las rutas.

    Esta es una de muchas directivas que 
    trae RouterModule.
-->
<router-outlet></router-outlet>
<!-- >>-- <app-heroes></app-heroes> // Será reemplazado por el enrutador --<< -->

<!-- 
    Se usa el Identifcador del componente para
    cargarlo a él, su template y estilos.
-->
<app-messages></app-messages>