<h2>My Heroes</h2>

<!-- 
    +----------------------------------------+
    | ITERAR A TRAVÉS DE: ARRAY-OBJETO-LISTA |
    +----------------------------------------+
-->

<!-- 
    Para esto se usa la directiva estructural *ngFor, 
    la cual itera a través de los items de una colección.
    
    La directiva es ubicada en un elemento, que se 
    convertirá en el padre de los templates clonados.
-->

<ul class="heroes">
    <!--  
        Repite el elemento anfitrión - host 
        para cada elemento en una lista.
        
        heroes hace referencia a la propiedad en 
        la clase del componente.
    -->
    <li *ngFor="let hero of heroes"> <!-- Este sería el elemento anfitrión u host -->

        <!-- 
            +------------------+
            | LISTEN TO EVENTS | 
            +------------------+
            
            (event) -> Los paréntesis le indican a Angular
            que escuche ese evento específico en el elemento. 
            
            Cuando el usuario pulsa el elemento se ejecuta la
            expresión onSelect(hero).
        -->
        <!-- 
            +---------------+
            | Class Binding |
            +---------------+

            Permite añadir o remover una clase según una condición:
                [class.some-css-class]="some-condition"

            [class.selected]="expresion" cuando la expresión resulta 
            true se aplica el estilo, de lo contrario, se remueve.

            Se aplica la clase "selected" de estilos, cuando el hero
            actual es el mismo que selectedHero.
        -->
        <button [class.selected]="hero === selectedHero" type="button" (click)="onSelect(hero)">
            <span class="badge">{{ hero.id }}</span> 
            <span class="name">{{ hero.name }}</span>
        </button>
    </li>
</ul>

<!-- 
    +---------------------------------+
    | VINCULANDO EL PADRE CON EL HIJO |
    +---------------------------------+
-->

<!-- 
    [hero]="selectedHero", es una propiedad de vinculación de Angular.
    
    Es una propiedad de un flujo unidireccional, 
    ya que va desde la propiedad selectedHero del componente HeroesComponent 
    hasta la propiedad hero de HeroDetailComponent.    
-->
<app-hero-detail [hero]="selectedHero" ></app-hero-detail>
