<!-- 
    >>> De esta forma sólo se mostrará que es un Object <<<
    <h2>{{ hero }}</h2> 
-->

<!-- Presentación adecuada de los datos del heroe -->

<!-- 
    <div>name: <span>{{ hero.name }}</span></div> 
-->

<!-- Mostrar y Editar la información del Héroe -->
<!-- Dar formato al string -->
<!-- <h2>{{ hero.name | uppercase }} Details </h2>
<div>id: <span>{{ hero.id }}</span></div>

<div>
    <label for="name">Hero name: </label> -->
    <!-- 
        [(ngModel)]: es una sintaxis de angular que vincula
        en dos flujos los datos.
    
        Los datos pueden viajar de hero.name al textbox y del 
        textbox de nuevo a hero.name.

        Aunque es una directiva válida angular llamarla directamente
        sobre el textbox generará un error, ya que pertenece al 
        módulo opcional de FormsModule y debe optar por usarloj.

     <input id="name" [(ngModel)]="hero.name" placeholder="name">
</div> -->

<!-- >>>>> ITERAR A TRAVÉS DE UN ARRAY-OBJETO-LISTA -->

<!-- Para esto se usa la directiva structal *ngFor, la cual 
    itera a través de los items de una colección, la directiva
    es ubicada en un elemento, que se convertirá en el padre
    de los templates clonados -->

<h2>My Heroes</h2>

<ul class="heroes">
    <li *ngFor="let hero of heroes"> <!-- Este sería el elemento anfitrión u host -->
        <button type="button">
            <span class="badge">{{ hero.id }}</span> 
            <span class="name">{{ hero.name }}</span>
        </button>
    </li>
</ul>
